---
layout: default
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <div class="jumbotron" style="text-align: center; padding-top: 130px; padding-bottom: 130px;">
      <div class = "row">
        <div class="col-sm-8">
          <p class="jumbotron-heading" style="text-align: left; padding-left: 170px; padding-top:150px; 
          font-family: Oswald; font-weight:400; font-size: 90px">{{site.author}}</p>
          <p class="lead" id="typewriteText" style="text-align: left; padding-left: 180px"></p>
        </div>
        <div class="col-sm-4" style="padding-right: 100px;">
          <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/profile.png" style="border-radius: 10%;" />
        </div>
      </div>
      
    </div>
    