---
layout: default
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <div class="jumbotron" style="text-align: center; padding-top: 130px; padding-bottom: 130px;">
      <div class = "row">
        <div class="col-sm-8">
          <p class="jumbotron-heading" style="text-align: left; padding-left: 130px; padding-top:110px; 
          font-family: Oswald; font-weight:400; font-size: 100px">{{site.author}}</p>
          <p class="lead" id="typewriteText" style="text-align: left; padding-left: 140px"></p>
        </div>
        <div class="col-sm-4" style="padding-right: 100px;">
          <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/profile.png" style="border-radius: 10%;" />
        </div>
      </div>
      
    </div>
    <div class="col-lg-8 offset-md-2">
      <h1>Recent Activity</h1>
      <h3>My PyCon India 2020 Talk </h3>
      <p>December 3 ,2020</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OpZqfGXVB5U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      <br>
      <h3>First PyCon Presentation! </h3>
      <p>October 3,2020</p>
      <p>(Virtually) Presented our work involving internal workings of UMAP (Uniform Manifold Approximation and Projection) 
        for Dimensionality Reduction at 
        <a href="https://in.pycon.org/cfp/2020/proposals/understanding-umap-the-internal-workings-of-a-state-of-the-art-clustering-algorithm~e1w1m/">PyCon India 2020</a>. 
        (Work with 
        <a href=""> Abhishek Deshpande</a>,
        <a href=""> Varad Deshmukh</a> and
        <a href=""> Shrirang Karandikar</a>)</p>
      <br>
      <h3> Got invited to the Intel AI Dev Summit 2020!</h3>
      <p>October 1,2020</p>
      <p><a href="">Shrirang Karandikar</a>
        will be showcasing our work with Topological Data Analysis on Epidemic Simulation at the Intel India AI Dev Summit. ( 
        <a href="">TDA_UMAP </a>with 
        <a href=""> Abhishek Deshpande</a>,
        <a href=""> Varad Deshmukh</a> and
        <a href=""> Shrirang Karandikar</a>)</p>
      <br>

    </div>
    